.button {
  background-color: var(--text);
  border: 1px solid var(--border);
  color: var(--background);
  cursor: pointer;
  padding: 0.25rem;
}

.button:focus {
  outline: none;
}

.button_secondary {
  background-color: transparent;
  color: var(--text);
}

.input {
  padding: 0.25rem;
  flex-grow: 1;
  background-color: #1b3f4722;
  border: none;
  color: var(--text);
}

.input:focus {
  outline: none;
  caret-color: var(--text);
}
